<!DOCTYPE html>
<html>
<html ng-app="marathonCV" ng-controller="homeController">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Marathon CV</title>

  <!-- Favicon -->
  <link href="assets/img/brand/favicon.png" rel="icon" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- Icons -->
  <link href="assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Argon CSS -->
  <link type="text/css" href="assets/css/argon.css" rel="stylesheet">

  <!-- My CSS -->
  <link type="text/css" href="assets/css/style.css" rel="stylesheet">

  <!-- Preview CSS -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/preview.css">

</head>


<body>

  <div class="" style="margin-left:10px; margin-right:10px; ">

    <div class="row">
      <div class="col-12">

        <div class="nav-wrapper">
          <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2"
                aria-selected="false">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab"
                href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3"
                aria-selected="false">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab"
                href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-5-tab" data-toggle="tab"
                href="#tabs-icons-text-5" role="tab" aria-controls="tabs-icons-text-3"
                aria-selected="false">Languages</a>
            </li>
            <button type="button" class="btn btn-danger" ng-click="downlaodPDF()">Download AS PDF</button>

          </ul>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 10px">
      <div id="informationsInput" style="width: 23%; margin-left:20px">
        <div class="card shadow">
          <div class="card-body">
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel"
                aria-labelledby="tabs-icons-text-1-tab">

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Full Name" ng-model="profilePanel.fullName">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Current Position"
                    ng-model="profilePanel.currentPosition">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address" ng-model="profilePanel.address">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone" ng-model="profilePanel.phone">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email" ng-model="profilePanel.email">
                </div>

                <textarea class="form-control" rows="3" placeholder="Tell us more about yourself"
                  ng-model="profilePanel.description">
                </textarea>
                <br>

                <div style="display: flex;">
                  <button type="button" class="col-md-5 btn btn-outline-default"
                    ng-click="cancelProfilePanel()">Cancel</button>
                  <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveProfilePanel()">save
                    changes</button>
                </div>


              </div>

              <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">

                <div ng-show="showEducationPanel">

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="University"
                      ng-model="educationPanel.university">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Degree" ng-model="educationPanel.degree">
                  </div>

                  <div class="form-group" style="display: flex;">
                    <small class="text-uppercase font-weight-bold ">Current degree :&nbsp;&nbsp;</small>
                    <label class="custom-toggle">
                      <input type="checkbox" ng-model="educationPanel.currentDegree">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>

                  <div class="form-group" style="display: flex;">
                    <!-- <div class="form-group" style="display: flex;"> -->

                    <div class="col-6">
                      <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in years"
                        ng-model="educationPanel.fromYear">
                        <option value="" selected disabled>From</option>
                      </select>
                    </div>

                    <div class="col-6">
                      <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in years"
                        ng-model="educationPanel.toYear" ng-disabled="educationPanel.currentDegree">
                        <option value="" selected disabled>TO</option>
                      </select>
                    </div>

                  </div>

                  <textarea class="form-control" rows="3" placeholder="Description"
                    ng-model="educationPanel.description"></textarea>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelEducationPanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveEducationPanel()">save
                      changes</button>
                  </div>
                </div>

                <div ng-show="!showEducationPanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showEducationPanel = true">
                    Add more
                  </button>

                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.education">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.university | limitTo: 20 }}{{item.university.length > 20 ? '...' : ''}}
                        </small>
                        <label>
                          {{item.degree}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editEducation($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteEducation($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">

                <!----------------------------------------- Experience Panel ---------------------------------------->

                <div ng-show="showExperiencePanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name"
                      ng-model="experiencePanel.company">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Position" ng-model="experiencePanel.position">
                  </div>

                  <div class="form-group" style="display: flex;">
                    <small class="text-uppercase font-weight-bold ">Current Position :&nbsp;&nbsp;</small>
                    <label class="custom-toggle">
                      <input type="checkbox" ng-model="experiencePanel.currentPosition">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>

                  <div class="input-daterange datepicker row align-items-center">
                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" placeholder="Start date" type="text"
                            ng-model="experiencePanel.fromDate">
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" placeholder="End date" type="text"
                            ng-model="experiencePanel.toDate" ng-disabled="experiencePanel.currentPosition">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" ng-model="experiencePanel.address">
                  </div>

                  <textarea class="form-control" rows="3" placeholder="Description"
                    ng-model="experiencePanel.description"></textarea>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelExperiencePanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveExperiencePanel()">save
                      changes</button>
                  </div>
                </div>

                <!----------------------------------------- Experiences LIST ---------------------------------------->

                <div ng-show="!showExperiencePanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showExperiencePanel = true">
                    Add more
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.experiences">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.company | limitTo: 20 }}{{item.company.length > 20 ? '...' : ''}}
                        </small>
                        <label>
                          {{item.position}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editExperience($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteExperience($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">

                <!----------------------------------------- Skill Panel ---------------------------------------->

                <div ng-show="showSkillPanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Skill" ng-model="skillPanel.name">
                  </div>

                  <div>
                    <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in [1, 2, 3, 4, 5]"
                      ng-model="skillPanel.level">
                      <option value="" selected disabled>Level</option>
                    </select>
                  </div>

                  <br>
                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelSkillPanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveSkillPanel()">save
                      changes</button>
                  </div>
                </div>

                <!----------------------------------------- Skills LIST ---------------------------------------->

                <div ng-show="!showSkillPanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button" ng-click="showSkillPanel = true">
                    Add more
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.skills">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.name}}
                        </small>
                        <label>
                          {{item.level}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editSkill($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteSkill($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane fade" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">

                <!----------------------------------------- Language Panel ---------------------------------------->

                <div ng-show="showLanguagePanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Language" ng-model="languagePanel.name">
                  </div>

                  <div>
                    <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in [1, 2, 3, 4, 5]"
                      ng-model="languagePanel.level">
                      <option value="" selected disabled>Level</option>
                    </select>
                  </div>

                  <br>
                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelLanguagePanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveLanguagePanel()">save
                      changes</button>
                  </div>
                </div>

                <!----------------------------------------- Languages LIST ---------------------------------------->

                <div ng-show="!showLanguagePanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showLanguagePanel = true">
                    Add more
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.languages">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.name}}
                        </small>
                        <label>
                          {{item.level}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editLanguage($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteLanguage($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div id="resumePreview" style="width: 61.5%; margin-left:20px">

        <div class='rela-block page' style='margin-left:0;margin-top:0;width:100%;'>
          <div class='rela-block top-bar'>
            <div class='caps name'>
              <div class='abs-center'>{{resume.profile.fullName}}</div>
            </div>
          </div>
          <div class='side-bar'>
            <br>
            <br>

            <h2 class='caps title'>{{resume.profile.currentPosition}}</h2>


            <div class='rela-block caps greyed' style="margin-top:55px">Profile</div>
            <br>

            <p class='long-margin justified'>{{resume.profile.description}}</p>
            <br><br>

            <div style="display:flex">
              <i class='fas fa-map-marker-alt' style="margin-left:7px"></i>
              <p style="margin-left:15px">{{resume.profile.address}}</p>
            </div>

            <div style="display:flex">
              <i class='fas fa-mobile-alt' style="margin-left:7px"></i>
              <p style="margin-left:15px">{{resume.profile.phone}}</p>
            </div>

            <div style="display:flex">
              <i class='fas fa-envelope' style="margin-left:7px"></i>
              <p style="margin-left:15px">{{resume.profile.email}}</p>
            </div>

            <br><br>
            <div id='lang' class='rela-block caps greyed'>Languages</div>
            <br>
            <div>
              <div ng-repeat="item in resume.languages" style="display:flex;">

                <p class='rela-block'>{{item.name}}</p>
                <div class=" rela-block">
                  <i class="fas fa-star fa-sm" ng-repeat="i in getNumber(item.level) track by $index"></i>
                  <i class="far fa-star fa-sm" ng-repeat="i in getNumber(5 - item.level) track by $index"></i>
                </div>

              </div>
            </div>

          </div>

          <div class='rela-block content-container' style="padding-top:25px">
            <div class='rela-block caps greyed'>Education</div>
            <div ng-repeat="item in resume.education" style="margin-left:10px; margin-right:10px">
              <div class='rela-block separator' ng-if="($index + 1) != resume.experiences.length"
                style="margin-bottom:25px">
              </div>

              <div style="display: flex;">
                <h3 style="font-weight: bold; width: 80%">{{item.university}}</h3>
                <h6 style="text-align: right; font-weight: bold; width: 20%">{{item.fromYear}} - {{item.toYear}}
                </h6>
              </div>
              <h6 style="font-weight: bold;">{{item.degree}}</h6>
              <p>{{item.description}}</p>


            </div>
          </div>

          <div class='rela-block content-container'>
            <div class='rela-block caps greyed'>Experiences</div>
            <div ng-repeat="item in resume.experiences" style="margin-left:10px; margin-right:10px">
              <div class='rela-block separator' ng-if="($index + 1) != resume.experiences.length"
                style="margin-bottom:25px">
              </div>

              <div style="display: flex;">
                <h3 style="font-weight: bold;">{{item.company}}</h3>
                <h6 style="font-weight: bold; margin-left: auto">{{custumDateFormat(item.fromDate)}} -
                  {{custumDateFormat(item.toDate)}}
                </h6>
              </div>
              <h6 style="font-weight: bold;">{{item.position}}</h6>
              <p>{{item.description}}</p>
            </div>

          </div>

          <div class='rela-block content-container'>
            <div class='rela-block caps greyed'>Skills</div>
            <div ng-repeat="item in resume.skills" style="display:flex; margin-bottom: 8px; margin-left: 15px">
              <p>{{item.name}}</p>
              <div style="margin-left: 15px">
                <i class="fas fa-star fa-sm" ng-repeat="i in getNumber(item.level) track by $index"></i>
                <i class="far fa-star fa-sm" ng-repeat="i in getNumber(5 - item.level) track by $index"></i>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div style="width:10%; height: 100%; margin-left:10px;" class="card shadow">

        <a href="/en" class="container1">
          <img src="./assets/img/cv1.png" class="image1" style="width:100%">
          <div class="middle1">
            Model 1
          </div>
        </a>

        <hr style="width:80%;margin-left:12px; margin-top: 20px; margin-bottom: 20px; ">

        <a href="/en2" class="container1">
          <img src="./assets/img/cv2.png" class="image1" style="width:100%">
          <div class="middle1">
            Model 2
          </div>
        </a>

        <hr style="width:80%;margin-left:12px; margin-top: 20px; margin-bottom: 20px; ">

        <a href="/en3" class="container1">
          <img src="./assets/img/cv3.png" class="image1" style="width:100%">
          <div class="middle1">
            Model 3
          </div>
        </a>

      </div>
    </div>

  </div>

  <!-- Core -->
  <script src='assets/vendor/jquery/jquery.min.js'></script>
  <script src='assets/vendor/popper/popper.min.js'></script>
  <script src='assets/vendor/bootstrap/bootstrap.min.js'></script>
  <script src='assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js'></script>

  <!-- Theme JS -->
  <script src='assets/js/argon.js'></script>

  <!-- Libs -->
  <script src="libs/angular.min.js"></script>

  <!-- Angular -->
  <script src="app.js"></script>

</body>

</html>