<!DOCTYPE html>
<html>
<html ng-app="marathonCV" ng-controller="homeController">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Marathon CV</title>

  <!-- Favicon -->
  <link href="assets/img/brand/favicon.png" rel="icon" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- Icons -->
  <link href="assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Argon CSS -->
  <link type="text/css" href="assets/css/argon.css" rel="stylesheet">

  <!-- My CSS -->
  <link type="text/css" href="assets/css/style.css" rel="stylesheet">

  <!-- Preview CSS -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/css/preview.css">

</head>


<body>

  <div class="" style="margin-left:10px; margin-right:10px; ">

    <div class="row">
      <div class="col-12">

        <div class="nav-wrapper">
          <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2"
                aria-selected="false">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab"
                href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3"
                aria-selected="false">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab"
                href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-5-tab" data-toggle="tab"
                href="#tabs-icons-text-5" role="tab" aria-controls="tabs-icons-text-3"
                aria-selected="false">Languages</a>
            </li>
            <button type="button" class="btn btn-danger" ng-click="downlaodPDF()">Download AS PDF</button>

          </ul>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 10px">

      <div id="informationsInput" style="width: 23%; margin-left:20px">
        <div class="card shadow">
          <div class="card-body">
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel"
                aria-labelledby="tabs-icons-text-1-tab">

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Full Name" ng-model="profilePanel.fullName">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Current Position"
                    ng-model="profilePanel.currentPosition">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Address" ng-model="profilePanel.address">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone" ng-model="profilePanel.phone">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email" ng-model="profilePanel.email">
                </div>

                <textarea class="form-control" rows="3" placeholder="Tell us more about yourself"
                  ng-model="profilePanel.description">
                </textarea>
                <br>

                <div style="display: flex;">
                  <button type="button" class="col-md-5 btn btn-outline-default"
                    ng-click="cancelProfilePanel()">Cancel</button>
                  <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveProfilePanel()">save
                    changes</button>
                </div>


              </div>

              <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">

                <div ng-show="showEducationPanel">

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="University"
                      ng-model="educationPanel.university">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Degree" ng-model="educationPanel.degree">
                  </div>

                  <div class="form-group" style="display: flex;">
                    <small class="text-uppercase font-weight-bold ">Current degree :&nbsp;&nbsp;</small>
                    <label class="custom-toggle">
                      <input type="checkbox" ng-model="educationPanel.currentDegree">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>

                  <div class="form-group" style="display: flex;">
                    <!-- <div class="form-group" style="display: flex;"> -->

                    <div class="col-6">
                      <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in years"
                        ng-model="educationPanel.fromYear">
                        <option value="" selected disabled>From</option>
                      </select>
                    </div>

                    <div class="col-6">
                      <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in years"
                        ng-model="educationPanel.toYear" ng-disabled="educationPanel.currentDegree">
                        <option value="" selected disabled>TO</option>
                      </select>
                    </div>

                  </div>

                  <textarea class="form-control" rows="3" placeholder="Description"
                    ng-model="educationPanel.description"></textarea>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelEducationPanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveEducationPanel()">save
                      changes</button>
                  </div>
                </div>

                <div ng-show="!showEducationPanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showEducationPanel = true">
                    Add more
                  </button>

                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.education">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.university | limitTo: 20 }}{{item.university.length > 20 ? '...' : ''}}
                        </small>
                        <label>
                          {{item.degree}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editEducation($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteEducation($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">

                <!----------------------------------------- Experience Panel ---------------------------------------->

                <div ng-show="showExperiencePanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name"
                      ng-model="experiencePanel.company">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Position" ng-model="experiencePanel.position">
                  </div>

                  <div class="form-group" style="display: flex;">
                    <small class="text-uppercase font-weight-bold ">Current Position :&nbsp;&nbsp;</small>
                    <label class="custom-toggle">
                      <input type="checkbox" ng-model="experiencePanel.currentPosition">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>

                  <div class="input-daterange datepicker row align-items-center">
                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" placeholder="Start date" type="text"
                            ng-model="experiencePanel.fromDate">
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" placeholder="End date" type="text"
                            ng-model="experiencePanel.toDate" ng-disabled="experiencePanel.currentPosition">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" ng-model="experiencePanel.address">
                  </div>

                  <textarea class="form-control" rows="3" placeholder="Description"
                    ng-model="experiencePanel.description"></textarea>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelExperiencePanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveExperiencePanel()">save
                      changes</button>
                  </div>
                </div>

                <!----------------------------------------- Experiences LIST ---------------------------------------->

                <div ng-show="!showExperiencePanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showExperiencePanel = true">
                    Add more
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.experiences">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.company | limitTo: 20 }}{{item.company.length > 20 ? '...' : ''}}
                        </small>
                        <label>
                          {{item.position}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editExperience($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteExperience($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">

                <!----------------------------------------- Skill Panel ---------------------------------------->

                <div ng-show="showSkillPanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Skill" ng-model="skillPanel.name">
                  </div>

                  <div>
                    <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in [1, 2, 3, 4, 5]"
                      ng-model="skillPanel.level">
                      <option value="" selected disabled>Level</option>
                    </select>
                  </div>

                  <br>
                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelSkillPanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveSkillPanel()">save
                      changes</button>
                  </div>
                </div>

                <!----------------------------------------- Skills LIST ---------------------------------------->

                <div ng-show="!showSkillPanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button" ng-click="showSkillPanel = true">
                    Add more
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.skills">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.name}}
                        </small>
                        <label>
                          {{item.level}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editSkill($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteSkill($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane fade" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">

                <!----------------------------------------- Language Panel ---------------------------------------->

                <div ng-show="showLanguagePanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Language" ng-model="languagePanel.name">
                  </div>

                  <div>
                    <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in [1, 2, 3, 4, 5]"
                      ng-model="languagePanel.level">
                      <option value="" selected disabled>Level</option>
                    </select>
                  </div>

                  <br>
                  <div style="display: flex;">
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelLanguagePanel()">Cancel</button>
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveLanguagePanel()">save
                      changes</button>
                  </div>
                </div>

                <!----------------------------------------- Languages LIST ---------------------------------------->

                <div ng-show="!showLanguagePanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showLanguagePanel = true">
                    Add more
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.languages">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block;">
                          {{item.name}}
                        </small>
                        <label>
                          {{item.level}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editLanguage($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteLanguage($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

      <div id="resumePreview" style="width: 61.5%; margin-left:20px">

        <div class="container0">

          <div class="title0">
            <div class="center0">{{resume.profile.fullName}}</div>
          </div>

          <hr class="separator0">
          <div class="profil0">{{resume.profile.currentPosition}}</div>

          <div class="row0" style="margin-top:30px">
            <div style="width:45%">
              <img src="http://51.77.195.204:3010/en3/assets/img/mail.png" style="width:30px">
              {{resume.profile.email}}
            </div>

            <div style="width:20%">
              <img src="http://51.77.195.204:3010/en3/assets/img/phone.png" style="width:30px">
              {{resume.profile.phone}}
            </div>

            <div>
              <img src="http://51.77.195.204:3010/en3/assets/img/address.png" style="width:30px">
              {{resume.profile.address}}
            </div>
          </div>

          <div class="row0" style="margin-top:30px">
            {{resume.profile.description}}
          </div>

          <hr class="separator0">
          <div class="education0">Education</div>
          <div ng-repeat="item in resume.education" style="margin-top:15px;margin-left: 50px;margin-right: 50px;">
            <div style=" display:flex">
              <h4 style="width:85%;font-size: 1.2rem">{{item.university}}</h4>
              <h4 style="margin-right:0%;font-size: 1.2rem">{{item.fromYear}} - {{item.toYear}}</h4>
            </div>

            <h4 style="margin-top:0x; margin-bottom:10px;font-size: 1.2rem ">{{item.degree}}</h4>
            {{item.description}}
          </div>

          <hr class="separator0">
          <div class="experience0">Experience</div>

          <div ng-repeat="item in resume.experiences" style="margin-top:60px;margin-left: 50px;margin-right: 50px;">
            <div style="display:flex">
              <h4 style="width:76%;font-size: 1.2rem">{{item.company}}</h4>
              <h4 style="margin-right:0%;font-size: 1.2rem">{{custumDateFormat(item.fromDate)}} -
                {{custumDateFormat(item.toDate)}}</h4>
            </div>

            <h4 style="margin-top:0 px; margin-bottom:10px;font-size: 1.2rem">{{item.position}}</h4>
            {{item.description}}
          </div>

          <div style="display:flex; margin-left: 5%;margin-right: 5%;">
            <div style="width:45%">
              <hr class="separator1">
              <div class="skills0">Skills</div>

              <div ng-repeat="item in resume.skills" style="display:flex; margin-top:20px">
                <div style="width:70%; font-size: 20px; margin-top:-10px">{{item.name}}</div>
                <div ng-repeat="i in getNumber(item.level) track by $index" class="melyen0"></div>
                <div ng-repeat="i in getNumber(5 - item.level) track by $index" class="melyen0"></div>
              </div>

            </div>

            <div style="width:10%"></div>

            <div style="width:45%">
              <hr class="separator1">
              <div class="languages0">Languages</div>

              <div style="height: 20px"></div>

              <div ng-repeat="item in resume.languages" style="display:flex; margin-top:20px">
                <div style="width:70%; font-size: 20px; margin-top:-10px">{{item.name}}</div>
                <div ng-repeat="i in getNumber(item.level) track by $index" class="melyen0"></div>
                <div ng-repeat="i in getNumber(5 - item.level) track by $index" class="melyen0"></div>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div style="width:10%; height: 100%; margin-left:10px;" class="card shadow">

        <a href="/en" class="container1">
          <img src="./assets/img/cv1.png" class="image1" style="width:100%">
          <div class="middle1">
            Model 1
          </div>
        </a>

        <hr style="width:80%;margin-left:12px; margin-top: 20px; margin-bottom: 20px; ">

        <a href="/en2" class="container1">
          <img src="./assets/img/cv2.png" class="image1" style="width:100%">
          <div class="middle1">
            Model 2
          </div>
        </a>

        <hr style="width:80%;margin-left:12px; margin-top: 20px; margin-bottom: 20px; ">

        <a href="/en3" class="container1">
          <img src="./assets/img/cv3.png" class="image1" style="width:100%">
          <div class="middle1">
            Model 3
          </div>
        </a>

      </div>

    </div>

  </div>

  </div>

  <!-- Core -->
  <script src='assets/vendor/jquery/jquery.min.js'></script>
  <script src='assets/vendor/popper/popper.min.js'></script>
  <script src='assets/vendor/bootstrap/bootstrap.min.js'></script>
  <script src='assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js'></script>

  <!-- Theme JS -->
  <script src='assets/js/argon.js'></script>

  <!-- Libs -->
  <script src="libs/angular.min.js"></script>

  <!-- Angular -->
  <script src="app.js"></script>

</body>

</html>