<link href="style.css" rel="stylesheet">

<div style="background:rgba(128, 128, 128, 0.527)">
  <div class="container">

    <div class="title">
      <div class="center">XREF</div>
    </div>

    <hr class="separator">
    <div class="profil">Profile</div>

    <div class="row" style="margin-top:30px">
      <div style="width:40%">
        <img src="mail.png" style="width:30px">
        Khalidalamri@marathonksa.com
      </div>

      <div style="width:20%">
        <img src="phone.png" style="width:30px">
        05********
      </div>

      <div>
        <img src="address.png" style="width:30px">
        Al Jamiyin, Dammam 32254
      </div>
    </div>

    <div class="row" style="margin-top:30px">
      Backend developer An experienced back-end developer and devops with a strong interest in projects that require
      both conceptual and analytical thinking. Fully-committed to ensure servers and applications security. Familiar
      with agile methodology and devops tasks. Always eager to learn more tricks from anyone
    </div>

    <hr class="separator">
    <div class="education">Education</div>
    <div style="margin-left: 50px;margin-right: 50px;">
      <div style="display:flex">
        <h4 style="width:87%">Higher Institute of Applied Science and Technology of Sousse</h4>
        <h4 style="margin-right:0%">2014 - 2019</h4>
      </div>

      <h4 style="margin-top:-17px; margin-bottom:10px">Engineering</h4>

      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </div>


    <hr class="separator">
    <div class="experience">Experience</div>

    <div style="margin-top:45px;margin-left: 50px;margin-right: 50px;">
      <div style="display:flex">
        <h4 style="width:82%">Takiacademy</h4>
        <h4 style="margin-right:0%">01/2016 - 01/2017</h4>
      </div>

      <h4 style="margin-top:-17px; margin-bottom:10px">Fullstack developer</h4>

      Developing an e-learning platform. Using Node js and JavaScript frameworks such Express js, Angular js and MySQL
      for database. Using modern web approach Webpack, Test driven development , Unit tests, End-to-end tests.
    </div>

    <div style="display:flex; margin-left: 5%;margin-right: 5%;">
      <div style="width:45%">
        <hr class="separator0">
        <div class="skills">Skills</div>

        <div style="display:flex; margin-top:20px">
          <div style="width:70%; font-size: 20px">Javascript</div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="feregh"></div>
        </div>

        <div style="display:flex; margin-top:20px">
          <div style="width:70%; font-size: 20px">MongoDB</div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="feregh"></div>
          <div class="feregh"></div>
        </div>

        <div style="display:flex; margin-top:20px">
          <div style="width:70%; font-size: 20px">UI/UX</div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="feregh"></div>
          <div class="feregh"></div>
        </div>

      </div>

      <div style="width:10%"></div>

      <div style="width:45%">
        <hr class="separator0">
        <div class="languages">Languages</div>

        <div style="display:flex; margin-top:60px">
          <div style="width:70%; font-size: 20px">English</div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="feregh"></div>
        </div>

        <div style="display:flex; margin-top:20px">
          <div style="width:70%; font-size: 20px">Frensh</div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="feregh"></div>
        </div>

        <div style="display:flex; margin-top:20px">
          <div style="width:70%; font-size: 20px">Arabic</div>
          <div class="melyen"></div>
          <div class="melyen"></div>
          <div class="feregh"></div>
          <div class="feregh"></div>
          <div class="feregh"></div>
        </div>

      </div>
    </div>

  </div>
</div>