.container {
  width: 210mm;
  height: 296mm;
  background: white;
  margin: auto;
}

.title {
  background: rgba(0, 162, 255, 0.493);
  width: 250px;
  margin: auto;
  padding: 15 0;
  font-size: 25px
}

.center {
  text-align: center;
}

.separator {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.profil {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  margin: auto;
  padding: 12px 0;
  text-align: center;
}

.row {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

.education {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  margin-left: 5%;
  padding: 12px 0;
  text-align: center;
}

.experience {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  float: right;
  margin-right: 5%;
  padding: 12px 0;
  text-align: center;
}

.separator0 {
  width: 100%;
  margin-top: 50px;
}

.skills {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  margin-top: -10px;
  padding: 12px 0;
  text-align: center;
}

.languages {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  float: right;
  margin-top: -10px;
  padding: 12px 0;
  text-align: center;
}

.melyen {
  width: 15px;
  height: 15px;
  background: rgba(0, 162, 255, 0.493);
  margin-left:5px;
}

.feregh {
  width: 13px;
  height: 13px;
  border-style: solid;
  border-width: 1px;
  border-color:  rgba(0, 162, 255, 0.493);
  margin-left:5px;
}