<!DOCTYPE html>
<html lang="ar">
<html ng-app="marathonCV" ng-controller="homeController">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> CV ماراثون</title>

  <!-- Favicon -->
  <link href="assets/img/brand/favicon.png" rel="icon" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- Icons -->
  <link href="assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Argon CSS -->
  <link type="text/css" href="assets/css/argon.css" rel="stylesheet">

  <!-- My CSS -->
  <link type="text/css" href="assets/css/style.css" rel="stylesheet">

  <!-- Preview CSS -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/preview.css">

  <!-- <link href="https://fonts.googleapis.com/css?family=Cairo|Tajawal" rel="stylesheet"> -->

  <style>
    @font-face {
      font-family: 'Cairo';
      src: url('assets/fonts/Cairo-Regular.ttf') format('truetype');
    }
  </style>

</head>


<body style="font-family: 'Cairo', sans-serif;">

  <div class="" style="margin-left:10px; margin-right:10px; ">

    <div class="row">
      <div class="col-12">

        <div class="nav-wrapper">
          <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">

            <button type="button" class="btn btn-danger" ng-click="downlaodPDF()"> PDF تحميل ملف الـ</button>

            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-5-tab" data-toggle="tab"
                href="#tabs-icons-text-5" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">اللغات</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab"
                href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3"
                aria-selected="false">المهارات</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab"
                href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">الخبرة</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">التعليم</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn-sm mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">المعلومات
                الأساسية</a>
            </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="row" style="margin-top: 10px">

      <div id="resumePreview" class="col-9 resumePreview">

        <div class='rela-block page'>

          <div class='rela-block top-bar'>
            <div class='name'>
              <div class='abs-center'>{{resume.profile.fullName}}</div>
            </div>
          </div>

          <div class='side-bar'>

            <h2 class='title' style="margin-top:60px">{{resume.profile.currentPosition}}</h2>

            <div class='rela-block greyed' style="margin-top:75px">نبذة</div>
            <br>

            <p class='long-margin justified'>{{resume.profile.description}}</p>
            <br><br>

            <div style="display:flex">
              <i class='fas fa-map-marker-alt' style="margin-left:7px"></i>
              <p style="margin-left:15px">{{resume.profile.address}}</p>
            </div>

            <div style="display:flex">
              <i class='fas fa-mobile-alt' style="margin-left:7px"></i>
              <p style="margin-left:15px">{{resume.profile.phone}}</p>
            </div>

            <div style="display:flex">
              <i class='fas fa-envelope' style="margin-left:7px"></i>
              <p style="margin-left:15px">{{resume.profile.email}}</p>
            </div>

            <br><br>
            <div id='lang' class='rela-block greyed'>اللغات المتقنة</div>
            <br>
            <div>
              <div ng-repeat="item in resume.languages" style="display:flex;">

                <p class='rela-block'>{{item.name}}</p>
                <div class=" rela-block">
                  <i class="fas fa-star fa-sm" ng-repeat="i in getNumber(item.level) track by $index"></i>
                  <i class="far fa-star fa-sm" ng-repeat="i in getNumber(5 - item.level) track by $index"></i>
                </div>

              </div>
            </div>

          </div>

          <div class='rela-block content-container' style="padding-top:25px">
            <div class='rela-block greyed'>المسيرة التعليمية</div>
            <div ng-repeat="item in resume.education" style="text-align: right">
              <div class='rela-block separator' ng-if="($index + 1) != resume.experiences.length"
                style="margin-bottom:25px">
              </div>

              <div style="display: flex;">
                <h3 style="font-weight: bold; width: 80%">{{item.university}}</h3>
                <h6 style="font-weight: bold; width: 20%; text-align: left;">{{item.fromYear}} - {{item.toYear}}
                </h6>
              </div>
              <h6 style="font-weight: bold;">{{item.degree}}</h6>
              <p>{{item.description}}</p>


            </div>
          </div>

          <div class='rela-block content-container'>
            <div class='rela-block greyed'>المسيرة المهنية</div>
            <div ng-repeat="item in resume.experiences" style="text-align: right">
              <div class='rela-block separator' ng-if="($index + 1) != resume.experiences.length"
                style="margin-bottom:25px">
              </div>

              <div style="display: flex;">
                <h3 style="font-weight: bold;  width: 70%">{{item.company}}</h3>
                <h6 style="font-weight: bold;  width: 30%; text-align: left;">{{custumDateFormat(item.fromDate)}} -
                  {{custumDateFormat(item.toDate)}}
                </h6>
              </div>
              <h6 style="font-weight: bold;">{{item.position}}</h6>
              <p>{{item.description}}</p>
            </div>

          </div>

          <div class='rela-block content-container'>
            <div class='rela-block greyed'>المهارات</div>
            <div ng-repeat="item in resume.skills"
              style="text-align: right;display:flex; margin-bottom: 8px; margin-left: 15px">
              <p style="width:50%">{{item.name}}</p>
              <div style="width:50;">
                <i class="fas fa-star fa-sm" ng-repeat="i in getNumber(item.level) track by $index"></i>
                <i class="far fa-star fa-sm" ng-repeat="i in getNumber(5 - item.level) track by $index"></i>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div id="informationsInput" class="col-3" style="direction:RTL">

        <div class="card shadow">
          <div class="card-body">
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel"
                aria-labelledby="tabs-icons-text-1-tab">

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="الإسم كامل" ng-model="profilePanel.fullName">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="الموقع الحالي"
                    ng-model="profilePanel.currentPosition">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="العنوان" ng-model="profilePanel.address">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="رقم الهاتف" ng-model="profilePanel.phone">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="عنوان الإيميل" ng-model="profilePanel.email">
                </div>

                <textarea class="form-control" rows="3" placeholder="أخبرنا أكثر عن نفسك"
                  ng-model="profilePanel.description">
                  </textarea>
                <br>

                <div style="display: flex;">
                  <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveProfilePanel()">
                    حفظ التغيرات
                  </button>
                  &nbsp
                  <button type="button" class="col-md-5 btn btn-outline-default"
                    ng-click="cancelProfilePanel()">إلغاء</button>
                </div>

              </div>

              <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">

                <div ng-show="showEducationPanel">

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="الجامعة أو الكلية"
                      ng-model="educationPanel.university">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="الدرجة" ng-model="educationPanel.degree">
                  </div>

                  <div class="form-group" style="display: flex;">
                    <small class="text-uppercase font-weight-bold ">الدرجة الحالية :&nbsp;&nbsp;</small>
                    <label class="custom-toggle">
                      <input type="checkbox" ng-model="educationPanel.currentDegree">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>

                  <div class="form-group" style="display: flex;">
                    <!-- <div class="form-group" style="display: flex;"> -->

                    <div class="col-6">
                      <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in years"
                        ng-model="educationPanel.fromYear">
                        <option value="" selected disabled>من</option>
                      </select>
                    </div>

                    <div class="col-6">
                      <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in years"
                        ng-model="educationPanel.toYear" ng-disabled="educationPanel.currentDegree">
                        <option value="" selected disabled>إلى</option>
                      </select>
                    </div>

                  </div>

                  <textarea class="form-control" rows="3" placeholder="أخبرنا أكثر"
                    ng-model="educationPanel.description"></textarea>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveEducationPanel()">
                      حفظ التغيرات
                    </button>
                    &nbsp
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelEducationPanel()">إلغاء</button>
                  </div>

                </div>

                <div ng-show="!showEducationPanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showEducationPanel = true">
                    إضافة
                  </button>

                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.education">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block; float:right">
                          {{item.university | limitTo: 40 }}{{item.university.length > 40 ? '...' : ''}}
                        </small>
                        <label style="float: right">
                          &nbsp;{{item.degree}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editEducation($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteEducation($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">

                <!----------------------------------------- Experience Panel ---------------------------------------->

                <div ng-show="showExperiencePanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="إسم الشركة" ng-model="experiencePanel.company">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="المهمة" ng-model="experiencePanel.position">
                  </div>

                  <div class="form-group" style="display: flex;">
                    <small class="text-uppercase font-weight-bold ">المهمة الحالية :&nbsp;&nbsp;</small>
                    <label class="custom-toggle">
                      <input type="checkbox" ng-model="experiencePanel.currentPosition">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>

                  <div class="input-daterange datepicker row align-items-center">

                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" placeholder="من" type="text" ng-model="experiencePanel.fromDate">
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="form-control" placeholder="إلى" type="text" ng-model="experiencePanel.toDate"
                            ng-disabled="experiencePanel.currentPosition">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="العنوان" ng-model="experiencePanel.address">
                  </div>

                  <textarea class="form-control" rows="3" placeholder="أخبرنا أكثر"
                    ng-model="experiencePanel.description"></textarea>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveExperiencePanel()">
                      حفظ التغيرات
                    </button>
                    &nbsp
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelExperiencePanel()">إلغاء</button>
                  </div>
                </div>

                <!----------------------------------------- Experiences LIST ---------------------------------------->

                <div ng-show="!showExperiencePanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showExperiencePanel = true">
                    إضافة
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.experiences">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block; float:right">
                          {{item.company | limitTo: 20 }}{{item.company.length > 20 ? '...' : ''}}
                        </small>
                        <label style="float:right">
                          {{item.position}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editExperience($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteExperience($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">

                <!----------------------------------------- Skill Panel ---------------------------------------->

                <div ng-show="showSkillPanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="المهارة" ng-model="skillPanel.name">
                  </div>

                  <div style="float:right">
                    <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in [1, 2, 3, 4, 5]"
                      ng-model="skillPanel.level">
                      <option value="" selected disabled>المستوى</option>
                    </select>
                  </div>

                  <br>
                  <br>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveSkillPanel()">
                      حفظ التغيرات
                    </button>
                    &nbsp
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelSkillPanel()">إلغاء</button>
                  </div>
                </div>

                <!----------------------------------------- Skills LIST ---------------------------------------->

                <div ng-show="!showSkillPanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button" ng-click="showSkillPanel = true">
                    إضافة
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.skills">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style="display: block; float:right">
                          {{item.name}}
                        </small>
                        <label style="float:right;">
                          &nbsp;&nbsp;{{item.level}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editSkill($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteSkill($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <div class="tab-pane fade" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">

                <!----------------------------------------- Language Panel ---------------------------------------->

                <div ng-show="showLanguagePanel">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="اللغة" ng-model="languagePanel.name">
                  </div>

                  <div style="float:right">
                    <select class="btn btn-secondary dropdown-toggle" ng-options="item for item in [1, 2, 3, 4, 5]"
                      ng-model="languagePanel.level">
                      <option value="" selected disabled>المستوى</option>
                    </select>
                  </div>

                  <br>
                  <br>
                  <br>

                  <div style="display: flex;">
                    <button type="button" class="col-md-7 btn btn-outline-success" ng-click="saveLanguagePanel()">
                      حفظ التغيرات
                    </button>
                    &nbsp
                    <button type="button" class="col-md-5 btn btn-outline-default"
                      ng-click="cancelLanguagePanel()">إلغاء</button>
                  </div>

                </div>

                <!----------------------------------------- Languages LIST ---------------------------------------->

                <div ng-show="!showLanguagePanel">
                  <button class="col-md-12 btn btn-1 btn-outline-info" type="button"
                    ng-click="showLanguagePanel = true">
                    إضافة
                  </button>
                  <br>
                  <br>
                  <div style="outline: 1px ridge gainsboro" ng-repeat="item in resume.languages">
                    <div style="padding:0px 0px 0px 10px; display: flex; align-items: center;">

                      <div class="col-8">
                        <small class="text-uppercase font-weight-bold" style=" display: block; float:right">
                          {{item.name}}
                        </small>
                        <label style="float:right">
                          &nbsp;&nbsp;{{item.level}}
                        </label>
                      </div>

                      <div class="col-4">
                        <i class="ni ni-bullet-list-67" ng-click="editLanguage($index)"></i>
                        <i class="ni ni-fat-remove" ng-click="deleteLanguage($index)"></i>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Core -->
  <script src='assets/vendor/jquery/jquery.min.js'></script>
  <script src='assets/vendor/popper/popper.min.js'></script>
  <script src='assets/vendor/bootstrap/bootstrap.min.js'></script>
  <script src='assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js'></script>

  <!-- Theme JS -->
  <script src='assets/js/argon.js'></script>

  <!-- Libs -->
  <script src="libs/angular.min.js"></script>

  <!-- Angular -->
  <script src="app.js"></script>

</body>

</html>