.container0 {
  max-width: 210mm;
  height: 296mm;
  margin: 0px 0px 0px 0px;
  background: white;
}

.title0 {
  background: rgba(0, 162, 255, 0.493);
  width: 250px;
  margin: auto;
  padding: 10px 0px;
  font-size: 25px
}

.center0 {
  text-align: center;
}

.separator0 {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.profil0 {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  margin: auto;
  padding: 12px 0;
  text-align: center;
}

.row0 {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

.education0 {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  margin-left: 5%;
  padding: 12px 0;
  text-align: center;
}

.experience0 {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  float: right;
  margin-right: 5%;
  padding: 12px 0;
  text-align: center;
}

.separator1 {
  width: 100%;
  margin-top: 50px;
}

.skills0 {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  margin-top: -33px;
  padding: 12px 0;
  text-align: center;
}

.languages0 {
  background: rgba(0, 162, 255, 0.493);
  width: 150px;
  float: right;
  margin-top: -33px;
  padding: 12px 0;
  text-align: center;
}

.melyen0 {
  width: 15px;
  height: 15px;
  background: rgba(0, 162, 255, 0.493);
  margin-left:5px;
}

.feregh0 {
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 1px;
  border-color:  rgba(0, 162, 255, 0.493);
  margin-left:5px;
}